/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/** end reset css**/
body {
	background-color: rgba(255, 254, 248, 1);
	margin: auto;
	font-family: 'Work Sans' ;
	font-size: 14px;
}
.editor-mode {
margin: 0;
padding: 0;
max-width: 100%;
display: none;
}

.editor-mode--container {
	
	height: 60px;
	background-color: black;
	color: white;
	font-size: 16px;
	gap: 21px;
	display: flex;
	justify-content: center;
	align-items: center;
	
}

header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 50px auto;
	max-width: 1140px;
}

section {
	
	margin: 50px 0;
	padding-top: 50px;
}
.portfolio-container {
	max-width: 1140px;
	margin: auto;
}

h1{
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C;
	padding:  0 10px;
}

h1 > span {
	font-family: 'Work Sans';
	font-size:10px;
	letter-spacing: 0.1em;
;
}

h2{
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154
}
nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;

}
nav li {
	padding: 22px 10px;
	font-size: 1.2em;
	color: inherit;
	text-decoration: none;
	cursor: default;
}

li:hover {
	color: #B1663C;
}

li a {
	color: inherit;
	text-decoration: none;
	cursor: default;
}

#introduction {
	display: flex;
	align-items: center;
	max-width: 1140px;
	margin: auto;
}
#introduction figure {
	flex: 1
}
#introduction img {
	display: block;
	margin: auto;
	width: 80%;
}

#introduction article {
	flex: 1
}
#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
}

#portfolio h2 {
	text-align: center;
	font-size: 30px;
	margin-top: 50px;
}
.portfolio-title {
	display: flex;
	justify-content: center;
	align-items: baseline;
	gap: 30px;
	padding-bottom: 30px;
	width:100%;
}

.modify {
	display: none;
	margin-bottom: 1em;
	margin-top: 50px;
	font-size: 14px;
	cursor: pointer;
	color: black;
	gap: 5px;
}

.modify img,
.modify span {
	margin-bottom: 1em;
}

.buttons-filters {
	display: flex;
	justify-content: center;
	gap: 15px;
	padding: 30px;
}

.btn-all, .buttons {
	display: flex;
    border: 1px solid rgba(29, 97, 84, 1);
    background-color: rgba(255, 254, 248, 1);
	color: rgba(29, 97, 84, 1);
    border-radius: 60px;
    font-weight: 700;
    height: 37px;
    align-items: center;
	padding: 0px 25px;
}

.btn-all:hover,
.buttons:hover {
	background-color: rgba(29, 97, 84, 1);
    border-color: rgba(29, 97, 84, 1);
    color: white;
    transition: 0.3s;
	
}


.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
	justify-content: center;
	padding-top: 15px;
}

.gallery img {
	width: 100%;

}
#contact {
	width: 50%;
	margin: auto;
	display: flex;
	flex-direction: column;
	align-items: center
}
#contact > * {
	text-align: center;

}
#contact h2{
	margin-bottom: 20px;
}
#contact form {
	width: 53%;
	text-align: left;
	margin-top:30px;
	display: flex;
	flex-direction: column;
}

#contact input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#contact label {
	margin: 2em 0 1em 0;
}
#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"]{
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin : 2em auto ;
	width: 180px;
	text-align: center;
	border-radius: 60px ;
	cursor: pointer;
}

input[type="submit"]:hover {
	opacity: 0.9;
}

footer {
	
	height: 60px;
	background-color: white;
	
}

footer nav ul {
	max-width: 100%;
	justify-content: flex-end;
	margin: 0 7%;
	height: 60px;
}


